name: CI pipeline

on: workflow_dispatch

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Python script
        run: python python.py

      - name: Create artifact
        run: tar -czf flask-app.tar.gz .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact-flask
          path: flask-app.tar.gz


  deploy-dev:
    runs-on: ubuntu-latest
    needs: build
    environment: dev

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: app-artifact-flask

      - name: Deploy to DEV
        run: |
          echo "Deploying to DEV"
          mkdir dev-release
          tar -xzf flask-app.tar.gz -C dev-release


  deploy-prod:
    runs-on: ubuntu-latest
    needs: deploy-dev
    environment: prod

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: app-artifact-flask

      - name: Deploy to PROD
        run: |
          echo "Deploying to PROD"
          mkdir prod-release
          tar -xzf flask-app.tar.gz -C prod-release
